.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .link-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    margin-bottom: 30px;
  }
  a {
    position: block;
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: darkgrey;
  }
}
