.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .work-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 85vh;
    }
    .details-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 25px;
      .go-back-btn {
        align-self: flex-end;
        border: none;
        margin-top: 15px;
      }
      .go-back-btn:hover {
        cursor: pointer;
        color: white;
        background-color: black;
      }
    }
  }
}
